/*
 * App.css
 * This file contains global styles for the entire application.
 */

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
}

#root {
  --dvh: 100%;
  max-width: 1280px;
  min-height: 812px;
  margin: 0 auto;

  text-align: center;

  background-color: white;
}
