:root {
  color: #213547;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Arial,
    sans-serif;
  line-height: 1.5;

  background: #ffe6ef; /* ✅ 핑크 배경을 전역으로 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: block; /* 중앙정렬 flex 금지 */
  min-width: 320px;
  min-height: 100vh;
}

/* 기본 버튼/링크 */
a {
  text-decoration: none;
}

a:hover {
  color: #747bff;
}

button {
  padding: 0.6em 1.2em;

  font: inherit;

  cursor: pointer;
  border: 0;
  border-radius: 8px;
}
